@model University.Courses.Course

@{
    ViewBag.Title = "Add a Course";
}

<div> 
    <h3><u>Add a Course</u></h3>
</div>

<div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div>Name of Course: @Html.TextBoxFor(x => x.CourseName, new { @placeholder = "i.e. Artificial Intelligence" })</div>
        <div>
            Credit Hours:
            @Html.EnumDropDownListFor(x => x.CreditHours, "Select a credit")
        </div>

        <div>
            Starting Time:
            @*
    @foreach (var item in ViewData["TimeList"] as List<string>)
    {
        @Html.DropDownList(item)
        <br />
    }
            *@
        </div>
        
        <div>
            <input type="submit" value="Submit Order" />
        </div>

    }
</div>


