<div>
    <h3><u>Select Student and Course:</u></h3> 
    <br />
    <br />
    
    <div class="col-md-3">
        <h4><u>Student:</u></h4>
        <br />
        @Html.Drop
    </div>

    <div class="col-md-3">
        <h4><u>Course:</u></h4>
    </div>

</div>
