@model Student

@{
    ViewBag.Title = "Home";
}

<div>
    <h3><u>@Model.Firstname's Courses - ID: @Model.Id</u></h3>
    
    <p>No courses yet</p>

    <h3><u>Register</u></h3>
  @*  @Html.DropDownList("Courses", "Select course to add:") *@
</div>