@model University2

@{
    ViewBag.Title = "List of Courses";
}

<div>
    <h3><u>List of Courses:</u></h3>
    @foreach (var item in ViewData["Courses"] as List<ICourse>)
    {
        @Html.DisplayFor(x => x.ListOfCourses, item.Title)@item.Title
        <br />
    }

</div>
