@model University2
@{
    ViewBag.Title = "List of Courses";
}

<div>
    <h3><u>List of Courses:</u></h3>
</div>

<table class="table table-striped">
    <tr>
        <th>
            Course Title
        </th>
        <th>
            Credit Hour(s)
        </th>
        <th>
            Start Time
        </th>
        <th>
            Open?
        </th>
    </tr>

@foreach (var item in ViewData["Courses"] as List<ICourse>)
{
    <tr>
        <td>
            @item.CourseName
        </td>
        <td>
            @item.CreditHours
        </td>
        <td>
            @item.CourseTime
        </td>
        <td>
            @item.CourseAvailable
        </td>
    </tr>
    }
</table>

