@model Student

@{
    ViewBag.Title = "Login";
}

<div> 
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h2>Welcome to Kirkland University!</h2>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <div class="col-md-6 col-md-offset-1">
                <h4>Login:</h4>
            </div>
        </div>
    </div>

    <div>
        email: @Html.TextBoxFor(x => x.Email, new { @placeholder = "i.e. johnsmith@email.com" })
    </div>
    <div>
        password: @Html.PasswordFor(x => x.Password, new { @placeholder = "Enter password here" })
    </div>

    <div>
        <input class="btn btn-success" type="submit" value="Login" />
        @Html.ActionLink("New User", "AddStudent", null, new { @class = "btn btn-primary" })
    </div>


</div>
